.tp_datetime-wrapper {
	position: absolute;
	z-index: 1000;
	margin-top: 5px;
}
.tp_datetime-container {
	background: #263238;
	color: #fff;
	font-family: sans-serif;
	border-collapse: collapse;
	color: #eee;
	border: 1px solid #374951;

	box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.1);
}

.tp_datetime-container th {
	padding: 10px;
}

.tp_datetime-container select {
	width: 100%;	
	text-align: center;
	appearance: none;
	outline: 0;
	border: 0;
	background: transparent;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}

.tp_datetime-container select option {
	color: #000;
	font-size: 12px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;
	box-shadow: 0 0 10px 10px #394B54 inset;
}

.tp_datetime-container select option:hover {
	box-shadow: 0 0 10px 10px #394B54 inset;
}

.tp_datetime-container tbody {
	width: 320px;
}

.tp_datetime-container tbody tr:first-child td {
	font-size: 15px;
	border: 0;
	border-top: 1px solid #374951;
	border-bottom: 1px solid #374951;
	font-weight: bold;
	color: #5F7C89;
}

.tp_datetime-container tbody tr td {
	font-size: 13px;
	text-align: center;
	padding: 12px 10px;
	cursor: pointer;
	border: 1px solid #374951;	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;
}

.tp_datetime-container tbody tr td.selected {
	background: #374951;
}

.tp_datetime-container tbody tr td:hover {
	background: #394B54;
}

.tp_datetime-container tbody tr td.tp_datetime-disabled {
	color: #999;
	cursor: not-allowed;
}

.tp_datetime-container tbody tr td.tp_datetime-disabled:hover {
	background: transparent;
}